@media(max-width: 900px){

    img.botaomenu {
        width: 3em;
    }
    
    .botaomenu1{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    a#menu {
        color: orange;
        margin-top: 10%;
    }
    
    
    ul.MuiList-root-70.MuiList-padding-71 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1em;
        /* background-color: orange; */
    }
    
    
    }
    
    
    